.blockPage {
opacity: 0 !important;
}

.sp-padding-1rem {
padding: 1rem !important;
}

.sp-width-100 {
width: 100% !important;
}

.sp-top-1rem {
position: relative !important;
top: 1rem !important;
}

.sp-header {
min-height: 10rem !important;
background-color: rgb(25, 230, 230) !important;
}

.sp-content {
min-height: calc(100vh - 20rem) !important;
}
.sp-content {
min-height: calc(100vh - 20rem) !important;
}
.sp-content {
min-height: calc(100vh - 20rem) !important;
}

.sp-footer {
min-height: 10rem !important;
background-color: rgb(25, 230, 230) !important;
}

.sp-flex-justify-content {
display: flex !important;
justify-content: center !important;
}

.sp-flex-align-items {
display: flex !important;
align-items: center !important
}
.don-container {
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.function-title, .don-title {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.function-title-main, .don-title-main {
    text-align: center;
    margin: 0 auto 40px;
    position: relative;
    line-height: 60px;
    color: rgb(255, 255, 255);
}

/*     .function-title::after, .don-title::after {
        content: '';
        background: #ff523b;
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    } */
    .don-container-row {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.don-container-card-col {
    /*flex-basis: 25%;*/
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

    .don-container-card-col img {
        width: 238px;
        height: 317px;
    }

    .don-container-card-col h4 {
        color: #555;
        font-weight: normal;
    }

    .don-container-card-col:hover {
        transform: translateY(-10px);
    }
    .don-container-card-col:hover .don-container-card-btn {
    opacity: 1;
}
.don-container-card-col .expiration {
    color: red;
}

.don-container-card-col .expiration-today {
    color: orange;
}