<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archtemplate.xhtml">
	<ui:define name="head">
		<title>#{mbLogin.user.name} - Mon compte</title>
	</ui:define>
	<ui:define name="content">
		<div class="don-container">
			<h3>
				Compte de
				<h:outputLabel value="#{mbLogin.user.name} #{mbLogin.user.surname}"
					class="don-title" />
			</h3>
		</div>
		<div class="don-container">
			<h:outputLabel
				value="Vous encadrez #{mbTeam.fetchNbTeamsByManager(mbLogin.user)} équipe(s)"
				class="don-title" />
			<div class="don-container-row">
				<ui:repeat var="team" value="#{mbTeam.teamsByManager}">
					<div class="don-container-card-col">
						<h:outputLabel value="#{team.name}" />
						<br />
						<h:outputLabel
							value="#{mbLogin.fetchNbEmployeesInTeam(team)} employé.e(s)" />
						<br />
						<h:form>
							<b:commandButton value="Plannings &#38; détails"
								action="#{mbTeam.displayTeamDetails(team)}" />
						</h:form>
						<br />
						<div>
							<b:button value="Demandes en attentes de validation"
								href="/teamdashboard.xhtml" />
						</div>
					</div>
				</ui:repeat>
			</div>
			<br />
		</div>
	</ui:define>
</ui:composition>
</html>