<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head>
	<ui:insert name="head"></ui:insert>
	<h:outputStylesheet library="css" name="style.css" position="last" />
	<link rel="icon" type="image/png"
		href="#{request.contextPath}/resources/pictures/SpacePlannerFavIcon.ico" />
</h:head>
<h:body>
	<div class="sp-header sp-flex-justify-content sp-flex-align-items">
		<h1 class="don-title-main">
			<i>Space Planner</i>
		</h1>
	</div>
	<b:navBar brand="#{mbLogin.user.name} #{mbLogin.user.surname}"
		fluid="true" style="color:background-color: rgb(0, 204, 153 !important); ">
		<b:navbarLinks>
			<b:navLink rendered="#{mbLogin.connected}" value="Mon compte"
				href="account.xhtml"></b:navLink>
			<b:navLink rendered="#{!mbLogin.connected}" value="S'identifier"
				href="signin.xhtml"></b:navLink>
			<b:navLink rendered="#{mbLogin.connected}"
				value="Déconnexion" action="#mbLogin.disconnect}" href="signin.xhtml"></b:navLink>
			<b:navLink rendered="#{!mbLogin.connected}" value="Créer votre compte"
				href="signup.xhtml"></b:navLink>
		</b:navbarLinks>
	</b:navBar>
	<b:container>
		<b:row>
			<b:column style-class="sp-content">
				<ui:insert name="content"></ui:insert>
			</b:column>
		</b:row>
	</b:container>
	<div class="sp-footer sp-flex-justify-content sp-flex-align-items">
		<h2 class="don-title-main">©space planner by Baptiste Mouchard - 2022</h2>
	</div>
</h:body>

</html>