<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archtemplate.xhtml">
	<ui:define name="head">
		<title>Nouveau collaborateur : enregistrement</title>
	</ui:define>
	<ui:define name="content">
		<b:form id="signUpForm">
			<b:panel
				style-class="col-sm-offset-1 col-md-offset-2 col-xs-12 col-sm-10 col-md-8">
				<b:row>
					<b:column
						style-class="hidden-xs sp-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Nom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inputSurname"
							placeholder="Veuillez entrer un nom de famille"
							value="#{mbLogin.surname}" required="true"
							requiredMessage="La saisie du nom de famille est obligatoire">
							<f:facet name="prepend">
								<b:icon name="user" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs sp-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Prenom" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Prenom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inputName"
							placeholder="Veuillez entrer un prénom" value="#{mbLogin.name}"
							required="true"
							requiredMessage="La saisie du prénom est obligatoire">
							<f:facet name="prepend">
								<b:icon name="user" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs sp-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Login" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Login" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="inputLogin"
							placeholder="Veuillez entrer un login" value="#{mbLogin.login}"
							required="true"
							requiredMessage="La saisie du login est obligatoire">
							<f:facet name="prepend">
								<b:icon name="user" />
							</f:facet>
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs sp-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret id="inputPassword"
							placeholder="Veuillez entrer un mot de passe"
							value="#{mbLogin.password}" required="true"
							requiredMessage="La saisie du mot de passe est obligatoire">
							<f:facet name="prepend">
								<b:iconAwesome name="key" />
							</f:facet>
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column>
						<b:message for="inputLogin" />
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="sp-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="sp-width-100" value="Créer"
							action="#{mbLogin.signUp()}" />
					</b:column>
					<b:column
						style-class="sp-padding-1rem col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-xs-10 col-sm-10 col-md-4">
						<b:button style-class="sp-width-100"
							value="Annuler" href="signin.xhtml" />
					</b:column>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>
</html>