<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/archtemplate.xhtml">
	<ui:define name="head">
		<title>Calendrier (S#{mbTeam.weekNumber}) : #{mbTeam.team.name}</title>
	</ui:define>
	<ui:define name="content">
		<div class="don-container">
			<h3>
				<h:outputLabel value="#{mbTeam.team.name}" class="don-title" />
			</h3>
		</div>
		<div class="don-container">
			<div class="don-container-row">
				<h:form
					style="margin-bottom:15px; padding-left:0px; padding-right:50px">
					<h:commandButton value="&lt;&lt;"
						action="#{mbTeam.displayPreviousWeek()}" style="background-color:white; border:none" />
					<h:outputLabel
						value="Semaine #{mbTeam.weekNumber} : #{mbTeam.shortMon} - #{mbTeam.shortFri}"
						style="margin-left:40px; margin-right:40px" />
					<h:commandButton value="&gt;&gt;"
						action="#{mbTeam.displayNextWeek()}" style="background-color:white; border:none"/>
				</h:form>
			</div>
			<h:outputLabel
				value="Membres (#{mbLogin.fetchNbEmployeesInTeam(mbTeam.team)})"
				class="don-title" style="margin-bottom:10px" />
			<table style="border: 2px solid white; width: 800px">
				<thead>
					<tr>
						<th style="border: 2px solid white; width: 30%"><h:outputLabel
								value="&nbsp;" style="color:white; margin-right:70px" /></th>
						<th style="border: 2px solid white; width: 14%">#{mbTeam.mon}</th>
						<th style="border: 2px solid white; width: 14%">#{mbTeam.tue}</th>
						<th style="border: 2px solid white; width: 14%">#{mbTeam.wed}</th>
						<th style="border: 2px solid white; width: 14%">#{mbTeam.thu}</th>
						<th style="border: 2px solid white; width: 14%">#{mbTeam.fri}</th>
					</tr>
				</thead>
			</table>
			<ui:repeat var="employee" value="#{mbTeam.employeesInTeam}">
				<table style="border: 4px solid white; height: 50px; width: 800px">
					<thead>
						<tr>
							<th style="border: 2px solid white; background-color: white; width:30%; margin-right:70px"><h:outputLabel value="#{employee.name} #{employee.surname}" style="display: flex !important; align-items: center !important; margin: 0 auto"/></th>
							<th style="border: 2px solid white; background-color: rgb(217, 217, 217); width:14%"><h:outputLabel rendered="#{mbTeam.isPresentOnGivenDay(mbTeam.retrieveValidatedStatementsDates(mbTeam.fetchValidatedStatementsByEmployee(employee, mbTeam.firstDay, mbTeam.fifthDay)), mbTeam.firstDay)}" value="¯\_(ツ)_/¯‍" style="background-color: rgb(0, 204, 153); color: rgb(0, 204, 153); display: flex !important; align-items: center !important; margin: 0 auto; height:46px" /></th>
							<th style="border: 2px solid white; background-color: rgb(217, 217, 217); width:14%"><h:outputLabel rendered="#{mbTeam.isPresentOnGivenDay(mbTeam.retrieveValidatedStatementsDates(mbTeam.fetchValidatedStatementsByEmployee(employee, mbTeam.firstDay, mbTeam.fifthDay)), mbTeam.secondDay)}" value="¯\_(ツ)_/¯" style="background-color: rgb(0, 204, 153); color: rgb(0, 204, 153); display: flex !important; align-items: center !important; margin: 0 auto; height:46px" /></th>
							<th style="border: 2px solid white; background-color: rgb(217, 217, 217); width:14%"><h:outputLabel rendered="#{mbTeam.isPresentOnGivenDay(mbTeam.retrieveValidatedStatementsDates(mbTeam.fetchValidatedStatementsByEmployee(employee, mbTeam.firstDay, mbTeam.fifthDay)), mbTeam.thirdDay)}" value="¯\_(ツ)_/¯" style="background-color: rgb(0, 204, 153); color: rgb(0, 204, 153); display: flex !important; align-items: center !important; margin: 0 auto; height:46px" /></th>
							<th style="border: 2px solid white; background-color: rgb(217, 217, 217); width:14%"><h:outputLabel rendered="#{mbTeam.isPresentOnGivenDay(mbTeam.retrieveValidatedStatementsDates(mbTeam.fetchValidatedStatementsByEmployee(employee, mbTeam.firstDay, mbTeam.fifthDay)), mbTeam.fourthDay)}" value="¯\_(ツ)_/¯" style="background-color: rgb(0, 204, 153); color: rgb(0, 204, 153); display: flex !important; align-items: center !important; margin: 0 auto; height:46px" /></th>
							<th style="border: 2px solid white; background-color: rgb(217, 217, 217); width:14%"><h:outputLabel rendered="#{mbTeam.isPresentOnGivenDay(mbTeam.retrieveValidatedStatementsDates(mbTeam.fetchValidatedStatementsByEmployee(employee, mbTeam.firstDay, mbTeam.fifthDay)), mbTeam.fifthDay)}" value="¯\_(ツ)_/¯" style="background-color: rgb(0, 204, 153); color: rgb(0, 204, 153); display: flex !important; align-items: center !important; margin: 0 auto; height:46px" /></th>
						</tr>
					</thead>
				</table>
				<div style="width: 100%; margin-bottom: 20px" />
			</ui:repeat>
		</div>
		<div style="width: 100%; margin-bottom: 150px" />
	</ui:define>S
</ui:composition>
</html>